.idea
admin/tmp
admin/public/bower_components
front/tmp
front/public/bower_components
front/public/stylesheets/*.css
front/public/stylesheets/*.css.map
.sass-cache
chart/templates/postgres_secret.yaml