#content-wrapper {
  background-color: #11161c;
}

footer {
  background-color: #f8f8f8;
  color: #11161c;

  .fork-link {
    color: #11161c;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}

#author-column {
  background-color: #11161c;

  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;

    a {
      text-decoration: none;
    }
  }
  .avatar {
    text-align: center;
    margin-top: 20px;

    img {
      border-radius: 50%;
    }
  }

  .social-links {
    text-align: center;
    margin-top: 20px;

    a {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 20px;
      color: white;

      &:hover {
        color: #ccc;
      }
    }
  }

  .about-author {
    color: #6a6a6a;
    font-weight: bold;
    padding: 40px;
    font-size: 14px;
  }
}

#content-column {
  padding: 0px;
  background-color: #f8f8f8;

  h2 {
    background-color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

article {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #f8f8f8 0px, #f8f8f8 95px, #e6e6e6 95px, #e6e6e6 98px);
  background-size: 98px 100%;
  background-position: 75%;

  p {
    font-size: 17.5px;
  }

  &:first-child {
    .timeline {
      margin-top: 10px;
    }
    .post-list-content {
      h2 {
        padding-top: 10px !important;
      }
    }
  }

  .post-list-info {
    .timeline {
      color: #11171c;
      font-weight: bold;
      padding-left: 20px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -5px;
        top: 4px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #d35137;
      }
    }
    .tags {
      padding-top: 10px;
      padding-left: 20px;
      color: #6a6a6a;
      font-weight: bold;

      a.tag {
        color: white;
        text-decoration: none;
        display: block;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .post-list-content {
    background-color: #fff;
    border-right: 1px solid #e7e7e8;
    padding-bottom: 40px;

    h2 {
      margin-top: 0px;
      color: #337ab7;
      font-weight: bold;

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.pagination {
  padding-left: 20px;
}

@media only screen and (max-device-width: 990px) {
  #content-column {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  article {
    height: 100%;
    background: none;

    &:first-child {
      .timeline {
        margin-top: 0px;
      }
      .post-list-content {
        padding-top: 0px;
        padding-bottom: 0px;
        border-right: 0;

        h2 {
          text-align: center;
        }
      }
    }
    .post-list-content{
      hr {
        visibility: hidden;
      }
    }
    .post-list-info {
      background-color: white;
      padding-bottom: 20px;
      border-bottom: 1px solid #e7e7e8;

      .timeline {
        &:before {
          display: none;
        }
      }
    }
  }
}