@font-face {
    font-family: 'Conv_AvenirNextCyr-Regular';
    src: local('☺'), url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AvenirNextCyr-Medium';
    src: local('☺'), url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AvenirNextCyr-Demi';
    src: local('☺'), url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}