@import url(fonts.css);
@import url(reset.css);

/* --------------- base settings ---------*/

.g-page {
    background-color: #fff;
    font: 18px/1.44 'Conv_AvenirNextCyr-Regular', Arial, sans-serif;
    color: #242933;
}

.g-clearfix:before, .g-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.g-container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    transition: opacity .3s;
}

a:hover {
    opacity: .8;
}

/* --------------- header ---------*/
.b-header {
    width: 100%;
    background-color: #f8f8f9;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 20px;
}

.b-header__container {
    padding: 20px;
}

.b-header__logo {
    float: left;
}

.b-header__logo a:hover {
    text-decoration: none;
}

.b-header__logo a {
    display: block;
}

.b-header__fork-me {
    float: left;
    position: relative;
    padding-left: 45px;
    font-family: 'Conv_AvenirNextCyr-Demi', Arial, sans-serif;
}

.b-header__fork-me:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url("../images/fork-me.svg") 0 0 no-repeat;
}

.b-header__links {
    float: right;
    width: 338px;
}

.b-languages-list {
    float: right;
}

.b-languages-list__item {
    float: left;
    margin-left: 11px;
}

.b-languages-list__link {
    opacity: .5;
}

.b-languages-list__link.active {
    opacity: 1;
}

.b-languages-list__link.active:hover {
    text-decoration: none;
}

.b-header a {
    color: #242933;
}

.b-search-result {
    background-color: #87c0ee;
}

.b-search-result__container {
    padding: 27px 20px;
    font: 30px 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .08em;
}

.b-blog-list {
    float: left;
    width: calc(100% - 220px);
    padding: 63px 0 98px;
    border-right: 1px solid #e9e9ea;
}

.b-blog-list-item {
    padding-bottom: 80px;
}

.b-blog-list-item__title {
    margin-bottom: 19px;
    font-size: 40px;
}

.b-blog-list-item__title a {
    color: #242933;
}

.b-blog-list-item__title a:hover {
    color: #1081de;
}

.b-blog-list-item__date {
    margin-bottom: 35px;
    font-size: 14px;
    opacity: .5;
}

/*wiziwig*/

.b-wiziwig h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-family: 'Conv_AvenirNextCyr-Regular', Arial, sans-serif;
    font-size: 30px;
    color: #242933;
}

.b-wiziwig img {
    max-width: 100%;
}

.b-wiziwig p {
    margin-bottom: 32px;
    opacity: .9;
}

.b-wiziwig a {
    color: #337ab7;
}

.b-wiziwig a:hover {
    color: #23527c;
    text-decoration: underline;
}

.b-wiziwig ol {
    margin-bottom: 20px;
    padding-left: 41px;
    list-style-type: decimal;
}

.b-wiziwig ul {
    margin-bottom: 20px;
    padding-left: 41px;
    /*list-style-type: disc;*/
}

.b-wiziwig ul li {
    position: relative;
}

.b-wiziwig ul li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 4px;
    height: 4px;
    background-color: #343942;
    border-radius: 50%;
}

.b-wiziwig blockquote {
    margin-bottom: 22px;
    padding: 2px 18px;
    border-left: 3px solid #1081de;
    opacity: .9;
}

.b-wiziwig b,
.b-wiziwig strong {
    font-weight: bold;
}

.b-wiziwig table {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.b-wiziwig thead {
    font-family: 'Conv_AvenirNextCyr-Demi', Arial, sans-serif;
}

.b-wiziwig td {
    padding: 14px 30px;
    border: 1px solid #dedfe1;
}

.b-wiziwig thead td {
    padding: 20px 30px;
}

/*wiziwig*/

.b-wiziwig {
    padding: 0 15px 9px 0;
}

.b-blog-list-item__date {
    margin-bottom: 41px;
    font-size: 14px;
    opacity: .5;
}

.b-tags-list {
    padding-bottom: 43px;
    line-height: 40px;
}

.b-tags-list__item {
    float: left;
    margin-right: 10px;
}

.b-tags-list__link {
    display: inline-block;
    height: 25px;
    padding: 0 20px;
    background-color: #e7f2fc;
    border-radius: 15px;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #1081de;
    line-height: 25px;
    letter-spacing: 1px;
    transition: all .3s;
}

.b-tags-list__link:hover {
    background-color: #1081de;
    color: #fff;
    text-decoration: none;
}

.b-btn-read {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    background-color: #1081de;
    border-radius: 30px;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    letter-spacing: 2px;
}

.b-btn-read:hover {
    opacity: .8;
    text-decoration: none;
}

.b-pagination-list__item {
    float: left;
    margin-bottom: 15px;
    width: 31px;
    height: 30px;
}

.pagination-arrow-link {
    display: block;
    position: relative;
    background-color: #fff;
    width: 30px;
    height: 30px;
    font-size: 0;
}

.b-pagination-list__link {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #242933;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 16px;
    transition: all .3s;
}

.b-pagination-list__link:hover {
    background-color: #e0e4ed;
}

.pagination-arrow-link:before,
.pagination-arrow-link:after {
    content: "";
    position: absolute;
    right: 0;
    width: 12px;
    height: 2px;
    background-color: #000;
}

.pagination-arrow-link:before {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pagination-arrow-link:after {
    bottom: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination-arrow-link.prev:before,
.pagination-arrow-link.prev:after {
    right: auto;
    left: 0;
}

.pagination-arrow-link.prev:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination-arrow-link.prev:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pagination-arrow-link.prev.active, .pagination-arrow-link.disabled {
    opacity: .4;
}

.pagination-arrow-link.prev.active:hover {
    text-decoration: none;
    cursor: default;
}

.b-pagination-list__item.active a {
    background-color: #1081de;
    color: #fff;
}

.b-pagination-list__item.active a:hover {
    text-decoration: none;
    cursor: default;
}

.b-sidebar {
    float: right;
    width: 220px;
    padding: 40px 0 0 30px;
}

.b-blog-author__details {
    text-align: center;
}

.b-blog-author__photo {
    margin-bottom: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.b-blog-author__name {
    margin-bottom: 5px;
    font-family: 'Conv_AvenirNextCyr-Demi', Arial, sans-serif;
    font-size: 24px;
}

.b-blog-author__profesion {
    padding: 0 18px 12px;
}

.b-blog-author__paragraf {
    padding: 0 3px;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 16px;
    opacity: .5;
}

.b-blog-author__description a {
    color: #337ab7;
    text-decoration: none;
    transition: opacity .3s;
}

.b-blog-author__description a:hover {
    color: #23527c;
    text-decoration: underline;
}

.b-social-list {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-right: 9px;
}

.b-social-list__item {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0 8px;
    box-sizing: content-box;
}

.b-social-list__link {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
}

.m-social-list__link_gh {
    background: url("../images/github.svg") 0 0 no-repeat;
}

.m-social-list__link_in {
    background: url("../images/linkedin.svg") 0 0 no-repeat;
}

.m-social-list__link_tw {
    background: url("../images/twitter.svg") 0 0 no-repeat;
}

.b-social-list__link:hover {
    text-decoration: none;
}

.b-blog-author__goal {
    margin-bottom: 33px;
    padding: 26px 9px 28px 0;
    font-size: 14px;
    opacity: .9;
    border-top: 1px solid #e9e9ea;
    border-bottom: 1px solid #e9e9ea;
}

.b-blog-posts__heading {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.b-blog-posts__post {
    margin-bottom: 20px;
    line-height: 22px;
}

.b-blog-posts__title {
    margin-bottom: 3px;
}

.b-blog-posts__title a {
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 16px;
    color: #1081de;
}

.b-blog-posts__date {
    font-size: 12px;
    opacity: .5;
}

.b-tags-container {
    padding-top: 15px;
}

.b-tags-container__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Conv_AvenirNextCyr-Medium', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.b-footer {
    width: 100%;
    background-color: #e9e9ea;
}

.b-footer__container {
    padding: 20px;
}

.b-footer__copyright {
    text-align: center;
    font-size: 14px;
    opacity: .7;
}

/*sidebar*/
.no-scroll {
    overflow: hidden;
}

.b-overlay,
.m-blog-author_mob,
.b-hamburger {
    display: none;
}

/*sidebar*/

/*mobile version*/

@media screen and (max-width: 768px) {

    body {
        padding-bottom: 32px;
    }

    .g-page {
        font: 14px/1.57 'Conv_AvenirNextCyr-Regular', Arial, sans-serif;
    }

    .b-wiziwig h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }

    .b-header__container {
        padding: 15px 22px 15px 25px;
    }

    .b-header__container {
        position: relative;
    }

    .b-header__logo {
        margin-left: 37px;
    }

    .b-header__fork-me {
        display: none;
    }

    .b-languages-list {
        font-size: 16px;
    }

    .b-header__links {
        width: 70px;
    }

    .b-blog-content {
        padding: 0 25px;
    }

    .b-blog-list {
        float: none;
        width: 100%;
        padding-top: 13px;
        border-right: none;
    }

    .b-blog-list-item__title {
        margin-bottom: 10px;
        font-size: 28px;
        line-height: 33px;
    }

    .b-blog-list-item__date {
        margin-bottom: 20px;
    }

    .b-wiziwig {
        line-height: 22px;
        padding-right: 0;
    }

    .b-wiziwig p {
        margin-bottom: 27px;
        opacity: .9;
    }

    .b-wiziwig blockquote {
        margin-bottom: 26px;
        padding: 3px 3px 3px 20px;
    }

    .b-wiziwig table {
        font-size: 12px;
    }

    .b-wiziwig thead {

    }

    .b-wiziwig td {
        padding: 5px 15px;
    }

    .b-wiziwig thead td {
        padding: 10px 15px;
    }

    .b-tags-list {
        padding-bottom: 24px;
        line-height: 40px;
    }

    .b-btn-read {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }

    .b-sidebar {
        float: none;
        width: 100%;
        padding-top: 40px;
        padding-left: 0;
    }

    .b-blog-author {
        display: none;
    }

    .b-blog-posts__heading {
        margin-bottom: 16px;
    }

    .b-blog-posts__date {
        font-size: 14px;
    }

    .b-tags-container {
        padding: 11px 0 15px 0;
    }

    .b-blog-posts__title {
        margin-bottom: 4px;
    }

    .b-tags-container__title {
        margin-bottom: 14px;
    }

    .b-blog-posts__post {
        margin-bottom: 15px;
        line-height: 23px;
    }

    .b-footer__container {
        padding: 20px 25px;
    }

    /*sidebar*/
    .active-mob-sidebar {
        overflow: hidden;
    }

    .b-hamburger {
        display: block;
        position: absolute;
        top: 14px;
        left: 15px;
        padding: 10px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        z-index: 4;
    }

    .b-hamburger:after,
    .b-hamburger:before,
    .b-hamburger__item {
        content: "";
        display: block;
        height: 2px;
        width: 18px;
        margin: 4px 0;
        background-color: #1081de;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .b-hamburger__item {
        width: 12px;
    }

    .b-hamburger:after,
    .b-hamburger:before {
        margin: 0;
    }

    .active-mob-sidebar .b-hamburger:before {
        -webkit-transform: translateY(7px) rotate(135deg);
        transform: translateY(7px) rotate(135deg);
    }

    .active-mob-sidebar .b-hamburger:after {
        -webkit-transform: translateY(-5px) rotate(-135deg);
        transform: translateY(-5px) rotate(-135deg);
    }

    .active-mob-sidebar .b-hamburger__item {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .b-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #242933;
        z-index: 2;
        opacity: .8;
    }

    .m-blog-author_mob {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 275px;
        height: 100%;
        min-height: 568px;
        padding: 22px 3px 0;
        background-color: #fff;
        z-index: 3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .m-blog-author__container_mob {
        position: relative;
        height: 100%;
    }

    .active-mob-sidebar .b-overlay {
        display: block;
    }

    .active-mob-sidebar .m-blog-author_mob {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .m-blog-author__details_mob {
        padding: 0 13px;
    }

    .m-blog-author__goal_mob {
        padding: 16px 30px 21px 13px;
        margin-bottom: 0;
        line-height: 22px;
    }

    .m-blog-author__photo_mob {
        margin-bottom: 5px;
    }

    .m-blog-author__name_mob {
        margin-bottom: 2px;
    }

    .b-blog-author__fork-me {
        position: absolute;
        bottom: 32px;
        left: 0;
        width: 100%;
        padding: 14px 15px 12px;
        text-align: center;
    }

    .b-blog-author__fork-me-link {
        position: relative;
        display: inline-block;
        padding-left: 47px;
        font: 18px 'Conv_AvenirNextCyr-Demi', Arial, sans-serif;
    }

    .b-blog-author__fork-me-link:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background: url(../images/fork-me.svg) 0 0 no-repeat;
        background-size: 100%;
    }

    .m-social-list_mob {
        padding-bottom: 36px;
        line-height: 0;
        height: 36px;
        box-sizing: content-box;
    }

    .b-blog-author__profesion {
        padding: 0 0 12px;
    }

    .b-social-list__item {
        width: 40px;
        height: 40px;
    }

    .b-social-list__link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }

    .m-social-list__link_tw {
        background-position: 0 4px;
    }

    /*sidebar*/
    .b-search-result {
        margin-bottom: 4px;
    }

    .b-search-result__container {
        padding: 25px;
        font-size: 24px;
    }

}

#disqus_thread {
    padding-right: 15px;
}

.hljs {
    margin-top: -30px;
    margin-bottom: 10px;
}

.hljs-ln td{
    border: none;
    padding-right: 5px !important;
}
/* for block of numbers */
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
    padding-left: 10px !important;
}