<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Backup</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-files-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= posts_count %></div>
            <div>Posts</div>
          </div>
        </div>
      </div>
      <a href="<%= Router.path(:download_backup) %>">
        <div class="panel-footer">
          <span class="pull-left">Download Backup</span>
          <span class="pull-right"><i class="fa fa-download"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>